<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }

        .detail table th, .detail table td {
            border: solid 1px #000;
        }

        .buttons {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>배너 관리 - 배너 등록</h1>
<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="detail">
    <form id="submitForm" method="post" enctype="multipart/form-data">
        <table>
            <tbody>
            <tr>
                <th>배너명</th>
                <td>
                    <input th:value="${detail.name}" type="text" name="name" required placeholder="배너명 입력" />
                </td>
            </tr>
            <tr>
                <th>배너 파일</th>
                <td>
                    <input type="file" name="file"/>
                </td>
            </tr>
            <tr>
                <th>링크 주소</th>
                <td>
                    <input th:value="${detail.url}" type="text" name="url" required placeholder="링크 주소 입력" />
                </td>
            </tr>
            <tr>
                <th>오픈 방법</th>
                <td>
                    <select name="openWay" required>
                        <option value="">오픈 방법 선택</option>
                        <option th:selected="${detail.openWay == 1}" value="1">새 창 이동</option>
                        <option th:selected="${detail.openWay == 2}" value="2">현재 창 이동</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>정렬 순서</th>
                <td>
                    <input th:value="${detail.sortVal}" type="number" name="sortVal" required placeholder="정렬 순서 입력" />
                </td>
            </tr>
            <tr>
                <th>공개 여부</th>
                <td>
                    <label>
                        <input th:checked="${detail.usingYn}" type="checkbox" name="usingYn"/> 공개
                    </label>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="buttons">
            <button type="submit"> 배너 등록 하기 </button>
            <a href="/admin/banner/list.do"> 목록 이동 </a>
        </div>

    </form>
</div>


</body>
</html>